.card
{
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas: 
            "title"
            "content"
            "more";


  align-items: start;
  justify-items: center;

  background-color: var(--second);
  border-radius: 15px;

  margin: 1rem;
}

.card > h2
{
  grid-area: title;
  color: var(--prime);
}

.card > p
{
  grid-area: content;

  max-width: 45ch;
  padding-inline: 1rem;
  flex-wrap: wrap;
  text-align: center;
}

.card > a
{
  grid-area: more;
  color: var(--bg);
  background-color: var(--accent);
  padding: .5rem;
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 15px;
}
