:root {
  --primary-color: hsl(320, 30%, 90%);
  --secondary-color: hsl(220, 40%, 60%);
  --acsent-color: hsl(220, 30%, 80%);
  --font-color: hsl(220, 80%, 20%);
}

html,
body {
  height: 100%;
  font-size: 20px;
  color: var(--font-color);
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 10rem;
}

header a 
{
  font-size: 2rem;
  margin-inline: 1rem;

  color: white;
  text-decoration: none;
}
