.footer
{
  color: var(--bg);
  background-color: var(--prime);
  font-weight: bold;

  grid-area: -1 / 1 / -1 / -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer section
{
  display: flex;
}

.footer section
{
  justify-content: left;
}

.footer section > *
{
  margin-right: 10rem;
}
