.header
{
  color: var(--text);
  background-color: var(--second);

  grid-area: 1 / 1 / 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav
{
  padding-left: 3rem;
}

.header nav > *
{
  padding-inline: 10px;
}
