.about
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about section
{
  display: flex;
  flex-direction: column;
}

.about h3,
.about section > p
{
  text-align: left;
}

.about h2,
.about h3
{
  color: var(--prime);
}

.about p
{
  text-align: center;
  width: 50ch;
}

