.login
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 6;
}

.login > section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--accent);
  background-color: var(--second);

  font-weight: bold;

  padding: 1rem;
  padding-inline: 3rem;
  border-radius: 15px;
}

.login a 
{
  color: var(--bg);
  background-color: var(--accent);
  padding: .5rem;
  padding-inline: 1.5rem;
  border-radius: 15px;
}
