.footer
{
  color: var(--bg);
  background-color: var(--prime);
  font-weight: bold;

  grid-column: col-start 1 / 13;
  grid-row: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer section
{
  display: flex;
}

.footer section
{
  justify-content: left;
}

.footer section > *
{
  margin-right: 10rem;
}
