:root {
  --bg: #f6f5ee;
  --text: #030302;
  --prime: #7c83bb;
  --second: #e3e0c9;
  --accent: #7c83bb;


  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
head,
body
{
  margin: 0px;
  padding: 0px;
  height: 100%;

  font-size: 24px;
}

body 
{
  color: var(--text);
  background: var(--bg);
}

header
{
  color: var(--text);
  background-color: var(--second);

  display: flex;
  justify-content: center;
  align-items: center;
}

header nav
{
  padding-left: 3rem;
}

h1
{
  color: var(--prime)
}

a
{
  color: var(--text);
  font-weight: bold;
  text-decoration: none;
}

footer
{
  color: var(--bg);
  background-color: var(--prime);
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer section
{
  display: flex;
}

footer section
{
  justify-content: left;
}

footer section > *
{
  margin-right: 10rem;
}
