.header
{
  grid-row: 1 / 2;

}

.plans
{
  grid-row: 2 / 3;
  display: flex;
}

.info
{
  grid-row: 3 / 4;
  color: var(--bg);
  background-color: var(--prime);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.info section
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info section > p
{
  text-wrap: wrap;
  padding-inline: 1.5rem;
  max-width: 45ch;
  text-align: center;
}

.start
{
  grid-row: 4 / 5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start a
{
  color: var(--bg);
  background-color: var(--accent);
  padding: .5rem;
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 15px;

}
