.nav {
  grid-row: -1 / -1;

  color: var(--prime);
  background-color: var(--second);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h2 {
  padding-inline: 10px;
}

.nav > a
{
  padding-inline: 5px;
}
