.table
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-row: 2 / 6;
  overflow: scroll;
}

.table table
{
  border-collapse: collapse;
  margin: 1rem;
  min-width: 400px;

  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 3px 3px 10px black;
}

.table table thead
{
  color: var(--prime);
  background-color: var(--second);
  text-align: left;
  font-weight: bold;
}

.table table th,
.table table td
{
  padding: 1rem 1.5rem;
}

.table table td {
  font-style: italic;
}

.table tbody tr:nth-of-type(even)
{
  background-color: var(--accent);
}

.table tbody tr:last-of-type
{
  border-bottom: 5px solid var(--second);
}
